.central-block {
	text-align: center;
}

#align-right {
	text-align: right;
}

#weather-description {
	text-transform: capitalize;
}

h2 {
	font-size: 48px;
}

body {
	background-color: rgb(15,84,116);
	color: white;
}